html {
  height: 100%;
  text-align: center;
}

head {
  text-align: center;
}

body {
  padding: 10px;
  font-family: sans-serif;
  min-height: 100%;
  text-align: center;
}
#react-target{
  height: 620px;
}

#main {
  text-align: center;
  min-height: 100%;
}

#body {
  text-align: center;
  min-height: 100%;
}

#button {
  margin-top: 75%;
  margin-left: 27.5%;
}

#countdown {
  text-align: center;
  margin-top: 65%;
  margin-left: 25%;
}

#time{
  font-size: 60px;
}

#shippingId {
  font-size: 18px;
}

#result{
  margin-top: 65%;
  margin-left: 20%;
  font-size: 60px;
}


